/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
.page {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;

}

/* Header y Footer */
header, footer {
  text-align: center;
  padding: 20px;
  background-color: #3498db;
  color: white;
}

/* Navegación, contenido y barra lateral */
nav, main, aside {
  padding: 20px;
}

nav {
  background-color: #2ecc71;
}

main {
  background-color: #ecf0f1;
}

aside {
  background-color: #e74c3c;
}

/* ------- MEDIA QUERY PARA MÓVILES ------- */
@media (max-width: 768px) {
  
}
